<div class="transaction-container" >
    <div class=transaction-title>
        <h3> Welcome <%= @user.email %> </h3> 
        <h3> Here are your rentals </h3> 
    </div>
    <% @transactions.each do |transaction| %>
      <div class="transaction-card">
        <div class="card-text">
            <% @product = transaction.product %> 
            <p>Product: <%= @product.name %></p>
            <p>Quantity: <%= transaction.quantity %></p>
            <p>Comment:<%= transaction.comment %></p>
            <p>Start date:<%= transaction.start_date %></p>
            <p>End date:<%= transaction.end_date %></p>
        </div>
        <div class = "card-delete btn btn-danger">
            <%= link_to "Delete" , transaction_path(transaction), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %> 
</div>