  <div class= "home" style="background-color:white; margin-left: 5px; margin-top:20px;">
   <% if params[:query].blank? %>
      <h3 class="home-title"><%= pluralize @products.count, 'product' %> available</h1>
    <% else %>
      <h3><%= pluralize @products.count, 'result' %> for <%= params[:query] %></h1>
    <% end %>
  </div>
  <div class="main_container">
  <div class="content">
    <div data-refresh-list-target="list" class = "cards">
      <%= render 'list', products: @products %>
    </div>
  </div>
  <div id="map" style="margin-bottom: 30px;">
      <div style="width: 100%; height: 100%;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
</div>
