<h1 style="text-align: center;">Add new Product</h1>
<hr>
<div class="container">
<%= simple_form_for(@product) do |f| %>
  <%= f.input :name %>
  <%= f.input :overview %>
  <%= f.input :price %>
  <%= f.input :image_url%>
  <%= f.input :location %>
  <%= f.submit %>
<% end %>
</div>

<br>

<div>
  <%= link_to "Home", products_path, class: "btn btn-primary" %>
</div>
