<h1 style="text-align: center; margin-top: 20px;">Add New Product</h1>
<div class="create-container">
<div class="container">
<%= simple_form_for(@product) do |f| %>
  <%= f.input :name %>
  <%= f.input :overview %>
  <%= f.input :price, input_html: { min: '0'} %>
  <%= f.input :image_url, as: :file %>
  <%= f.input :location,
  input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
  <%= f.submit %>
<% end %>
</div>
</div>
