<h1 style="text-align: center; margin-top: 20px;">Add New Product</h1>
<div class="create-container">
<div class="container">
<%= simple_form_for(@product) do |f| %>
  <%= f.input :name %>
  <%= f.input :overview %>
  <%= f.input :price %>
  <%= f.input :image_url, as: :file %>
  <%= f.input :location %>
  <%= f.submit %>
<% end %>
</div>
</div>
