<div class="container">
  <div class="row d-flex">
    <div class="col-6 p-2">

      <%= image_tag @product.image_url, class: "rounded mx-auto d-block w-100" %>

    </div>
    <div class="col-6 p-2">
      <%# product card title  %>
      <div class="card">
        <h5 class="card-header"><%= @product.name %></h5>
        <div class="card-body">
          <p class="card-text"><%= @product.overview %></p>
          <p class="card-text">Location: <%= @product.location %></p>
          <p class="card-text">£<%= @product.price %></p>
          <%= link_to "<button class='btn btn-primary'>Add to basket</button>".html_safe,  new_product_transaction_path(@product)  %>
        </div>
      </div>
    </div>
  </div>
</div>
